@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.btn-new {
margin-left: 20px;
margin-bottom: 20px;
}

.card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.image {
  margin-right: 50px;
}
.form-group {
  margin-left: 20px;
  margin-bottom: 20px;
}
.btn-sumbit {
  margin-left: 20px;
  margin-bottom: 20px;
}
.btn-dark-new {
  margin-left: 20px;
  margin-bottom: 20px;
}
.edit-weather {
  margin-left: 20px;
  margin-bottom: 20px;
}
.card-text-data {
  font-style: italic;
}
.card-text-date {
  font-style: italic;
  font-weight: bold;
}
