<div class="edit-weather">
  <h1>Edytuj</h1>
</div>

<%= render 'form', weather: @weather %>

<div class="btn-dark-new">
  <%= link_to('Powrót do strony głównej', weathers_path, class: "btn btn-outline-dark col-sm-3") %>
</div>
